{% extends 'www/base.html' %}

{% block content %}
<table style="width:800px">
  <thead><tr><th>URL</th><th>Title</th><th>Nopen Option (Bucket)</th><th>Comment</th><th>Assignee</th></tr></thead>
  <tbody>
    {% for link in object_list %}
        <tr><td><a href="{{ link.url }}">{{ link.url }}</a></td><td>{{ link.title }}</td><td>{{ link.bucket }}</td><td>{{ link.comment }}</td><td>{{ link.assignee }}</tr>
    {% endfor %}
    </tbody>
  <tfoot><tr><td colspan="5">Table Footer Details</td></tr></tfoot>
</table>
{% endblock %}