{% load staticfiles %}{% load pipeline %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Sunlight Foundation">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Social -->
<meta property="og:site_name" content="">
<meta property="og:title" content="">
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:image" content="" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@sunlightlabs" />
<meta name="twitter:image" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />

<link rel="icon" href="">
<!--[if IE]><link rel="shortcut icon" href="{% static 'images/favicon.png' %}"><![endif]-->

<!-- CSS -->
<link rel="stylesheet" type='text/css' href="//sunlight-cdn.s3.amazonaws.com/brandingbar/0.4/css/brandingbar.min.css.gz">
<link rel="stylesheet" type='text/css' href="//sunlight-cdn.s3.amazonaws.com/sf-icons/0.2/css/sf-icons.min.css.gz">
{% stylesheet 'all' %}